
SwiftVerification.xcodeproj/project.xcworkspace/xcuserdata/christianjensen.xcuserdatad/UserInterfaceState.xcuserstate

SwiftVerification.xcodeproj/xcuserdata/christianjensen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

SwiftVerification.xcodeproj/xcuserdata/christianjensen.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

SwiftVerification.xcodeproj/project.xcworkspace/xcuserdata/christianjensen.xcuserdatad/UserInterfaceState.xcuserstate

SwiftVerification.xcodeproj/project.xcworkspace/xcuserdata/christianjensen.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate
